.display {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.display .value {
  color: #4ad14a;
}

.display .value-special {
  color: rgb(71, 180, 231);
}

.display .quantifier {
  color: rgb(255, 196, 0);
}

.display .operator {
  color: rgb(255, 196, 0);
}

.display .delimiter {
  color: rgb(216, 111, 216);
}

.display .hl-value,
.display .hl-value-special,
.display .hl-operator,
.display .hl-quantifier,
.display .hl-delimiter {
  background-color: rgba(255, 255, 0, 0.3);
  border-bottom: 1px solid yellow;
}

.display .hl-oper-left-single,
.display .hl-oper-left-begin,
.display .hl-oper-left-inside,
.display .hl-oper-left-end,
.display .hl-oper-right-single,
.display .hl-oper-right-begin,
.display .hl-oper-right-inside,
.display .hl-oper-right-end,
.display .hl-delim-begin,
.display .hl-delim-inside,
.display .hl-delim-end {
  border-bottom: 1px solid yellow;
}

.display span.warning {
  color: red;
  border-bottom: 1px solid red;
}
