#graph-container {
  background-color: rgb(33, 33, 33);
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  height: 100%;
}

:root {
  --value-color: #ffa500;
  --control-color: rgb(255, 133, 255);
  --paren-color: rgb(255, 133, 255);
  --quantifier-color: turquoise;
  --success-color: greenyellow;
  --failure-color: red;
  --node-bg-color: black;
}

.node {
  border-radius: 1em;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0.2em;
  position: absolute;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Fira Mono';
}

.quant-tag {
  color: var(--quantifier-color);
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  font-family: 'Fira Mono';
}

.node.operator {
  color: transparent;
  background-color: transparent;
}

.node.first {
  color: var(--control-color);
  background-color: var(--node-bg-color);
  border: 2px solid var(--control-color);
}

.node.first.active {
  color: var(--node-bg-color);
  background-color: var(--control-color);
}

.node.last {
  color: var(--control-color);
  background-color: var(--node-bg-color);
  border: 2px solid var(--control-color);
}

.node.last.success {
  color: var(--node-bg-color);
  background-color: var(--success-color);
  border: 2px solid var(--success-color);
}

.node.last.failure {
  color: var(--node-bg-color);
  background-color: var(--failure-color);
  border: 2px solid var(--failure-color);
}

.node.value,
.node.value-special {
  color: var(--value-color);
  background-color: var(--node-bg-color);
  border: 2px solid var(--value-color);
}

.node.value.active,
.node.value-special.active {
  color: var(--node-bg-color);
  background-color: var(--value-color);
  border: 2px solid var(--value-color);
}

.node.quantifier {
  color: var(--quantifier-color);
  background-color: var(--node-bg-color);
  border: 2px solid var(--quantifier-color);
}

.node.quantifier.active {
  color: var(--node-bg-color);
  background-color: var(--quantifier-color);
  border: 2px solid var(--quantifier-color);
}

.node.delimiter {
  color: var(--paren-color);
  background-color: var(--node-bg-color);
  border: 2px solid var(--paren-color);
}

.node.delimiter.quantifier {
  color: var(--quantifier-color);
  background-color: var(--node-bg-color);
  border: 2px solid var(--quantifier-color);
}
